    <footer style="display: flex; flex-direction: row;">
      <div style="margin-top: 1em;" class="card">
        <h2 style="margin-bottom: 0.33em;">Links</h2>
        <p>
          <a href="https://github.com/ruqqus/ruqqus">Ruqqus Github</a>
          <br />
          <a href="https://github.com/dahab99/scroll-for-ruqqus">Scroll For Ruqqus Github</a>
          <br />
          <a href="https://ruqqus.com/discord">Ruqqus Discord</a>
          <br />
        </p>
      </div>
    </footer>
  </body>
</html>