<html>
  <header>
    <title>Scroll-For-Ruqqus Auth Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
      body {
        background-color: rgb(24, 24, 24);
        padding: 1em;
      }

      * {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }

      a {
        color: rgb(128, 90, 213)
      }

      a:hover {
        color: rgb(175, 158, 211)
      }

      a.button, header a {
        background-color: rgb(128, 90, 213);
        color: white;
        padding: 0.5em;
        border-radius: 5px;
        text-align: center;
        margin: 0.5em;
        display: inline-block;
      }

      header > h3 {
        color: white;
      }

      .card {
        background-color: rgb(32, 32, 32);
        padding: 5px;
        border-radius: 5px;
        display: inline-block;
      }

      input {
        background-color: rgb(32, 32, 32);
        box-shadow: none;
        border: none;
        border-bottom: 1px solid rgb(128, 90, 213);
        padding: 0.5em;
        margin-bottom: 0.5em;
      }

      input:not([type='submit']) {
        width: 100%;
      }

      input[type="submit"] {
        background-color: rgb(128, 90, 213);
        border-radius: 5px;
      }

      input[type="submit"]:disabled {
        background-color: rgb(99, 99, 99);
        border-radius: 5px;
      }

      .error {
        background-color: rgba(255, 0, 0, 0.192);
        border-radius: 10px;
        border: 2px solid red;
        padding: 0.66em;
        margin-bottom: 1em;
      }

      table { 
        border-collapse: separate;
        border-spacing: 1em;
      }

      th {
        font-weight: bold;
        font-size: 1.2em;
      }

      th, td {
        background-color: rgb(32, 32, 32);
        padding: 0.5em;
        border-radius: 5px;
        text-align: center;
      }

      td:last-child {
        word-break: break-all;
      }
    </style>
  </header>
  <body>
    <header>
      <div style="display: flex; flex-direction: row; justify-content: flex-end;">
        <% if (user) { %>
          <a href="/logout">Logout of <%= user.email %></a>
        <% } else { %>
          <a href="/login">Login</a>
        <% } %>
        <a href="/register">Register</a>
      </div>
      <h1>Scroll-For-Ruqqus Auth Server</h1>
    </header>

    <div>
      <p>
        Scroll For Ruqqus is a 3rd party client app for the <a href="https://github.com/ruqqus/ruqqus">ruqqus api</a>. While the <a href="https://play.google.com/store/apps/details?id=com.ruqqus&hl=en_US&gl=US">Ruqqus (Beta)</a> is bound to the <a href="https://ruqqus.com">ruqqus.com</a> domain, Scroll For Ruqqus is free to connect to any ruqqus compatible server. Since ruqqus doesn't yet implement <a href="https://en.wikipedia.org/wiki/OAuth">Implicit OAuth</a>, an auth server is required to conduct part of the authentication procedure. This server will provide this service for free until the api will support implicit oauth.
      </p>
      
      <div style="margin-top: 1em;" class="card">
        <h2 style="margin-bottom: 0.33em;">Links</h2>
        <p>
          <a href="https://github.com/ruqqus/ruqqus">Ruqqus Github</a>
          <br />
          <a href="https://github.com/dahab99/scroll-for-ruqqus">Scroll For Ruqqus Github</a>
          <br />
          <a href="https://ruqqus.com/discord">Ruqqus Discord</a>
          <br />
        </p>
      </div>
    </div>

    <hr style="border: 1px solid  rgb(70, 70, 70);" />
  