<%- include('../templates/head') %>

<h1>Login</h1>

<form action="/login" method="POST">
  <input name="email" type="email" required placeholder="email" />
  <input name="password" type="password" required placeholder="password" />
  <input type="submit" value="Log in" />
</form>

<%- include('../templates/foot') -%>